@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "OrderList";
}
<h1 class="text-center">Order page</h1>

<table class="table text-center">
    <thead class="thead-light">
    <tr>
        <th width="5%">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th width="5%">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th width="5%">
            @Html.DisplayNameFor(model => model.CartItems)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td width="5%">
                @Html.DisplayFor(model => item.Id)
            </td>
            <td width="5%">
                @Html.DisplayFor(model => item.UserId)
            </td>
            <td width="10%">
                @Html.DisplayFor(model => item.Price)
            </td>
            <td width="15%">
                @Html.DisplayFor(model => item.Description)
            </td>
            @foreach (var cartItem in item.CartItems)
            {
                <td>
                    @Html.DisplayFor(model => cartItem.Product.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => cartItem.Amount)
                </td>
            }
        </tr>
    }
    </tbody>
</table>