@using WebAutopark.Core.Entities.Identity
@using Microsoft.AspNetCore.Identity
@model ShoppingCartViewModel
@inject UserManager<User> _userManager

@{
    ViewData["Title"] = "CartList";
}

<div class="card col-md-7 m-auto">
    <div class="card-header d-flex justify-content-between">
        <h2 class="">Cart</h2>
        <a class="btn btn-outline-dark" style="padding: 1.5% 2.5%;" asp-controller="Home" asp-action="Index">&times;</a>
    </div>
    <form class="card-body" method="post" asp-controller="Order" asp-action="OrderCreate">
        @if (Model!.ShoppingCarts.Count != 0)
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                    <th class="" width="20%">Name</th>
                    <th class="" width="20%">TotalPrice</th>
                    <th class="" width="20%">Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cart in Model.ShoppingCarts)
                {
                    <tr>
                        <td>@cart.Product.Name</td>
                        <td>@cart.Product.Price $</td>
                        <td>@cart.Amount</td>
                        <td class="text-center" style="width: 0%">
                            <a class="delete_productViewModel_button" asp-controller="ShoppingCart" asp-action="RemoveProduct" asp-route-id="@cart.Product.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td>Total price:</td>
                    <td colspan="3" class="text-center">@Model.TotalPrice $</td>
                </tr>
                </tfoot>
            </table>
            <div class="d-flex justify-content-between">                
                <a type="submit" class="btn btn-danger" asp-controller="ShoppingCart" asp-action="ClearCart">Discard</a>
                <a type="submit" class="btn btn-primary" asp-controller="Order" asp-action="OrderCreate" asp-route-userId="@_userManager.GetUserId(User)">Create Order</a>
            </div>
        }
        else
        {
            <div>
                <p>Your cart is empty. You have not added any productViewModels.</p>
            </div>
        }
    </form>
</div>